body {
    background-color: rgb(22, 21, 21);
    color: white;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    transition: 0.2s linear;
    margin: 0;
    padding: 0;
}

.blue {
    color: rgb(31, 19, 194) !important;
}

.error {
    color: rgb(31, 19, 194) !important;
}

.active-page {
    pointer-events: none;
}

@keyframes onload {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    margin: 0;
    padding: 0;
    position: relative;
    left: 22px;
    user-select: none;
}

.page-title:hover {
    cursor: pointer;
}

.menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 320px;
    right: 2%;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.menu a:hover {
    color: rgb(27, 16, 175);
}

.page-title .blue {
    padding-right: 1px;
}

/* Projects */

.introduction {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction h1 {
    font-size: 36px;
}

.showcase {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.window {
    width: 90%;
    height: 400px;
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project {
    height: 100%;
    width: 330px;
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1250px) {
    .project {
        width: 280px;
    }
}


/* Blog */

.bold {
    font-weight: bold;
}

.main-content {
    max-width: 560px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

.main-content * {
    transition: 0.5s ease;
}

#cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.520);
    transition: unset;
    opacity: 0;
    z-index: 1;
}

.blog-entry {
    width: 100%;
    min-height: 124.8px; 
}

.blog-inner {
    margin: 7px 2px;
    border-radius: 9px;
    border: 1px solid #2949c2;
    background-color: #232323;
    position: relative;
    padding: 5px 8px;  
    padding-bottom: 8px;
    width: 100%;
    height: inherit;
}

.blog-zoom-in {
    position: absolute;
    width: 100%;
    z-index: 1000;
    transform: scale(1.5);
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: 5px;
}

#textarea {
    min-height: 110px;
    width: 100%;
    font-size: 16px;
}

#submit-entry {
    border: unset;
    width: 100px;
    height: 25px;
    font-size: 18px;
    background-color: #e7e7e7;
    color: black;
    transition: 0.1s ease;
}

#submit-entry:hover {
    background-color: #c2c2c2;
}

#submit-entry:active {
    background-color: #aaaaaa;
}

.blog-date {
    position: absolute;
    right: 6px;
    top: 7px;
}

.blog-text {
    margin-top: 6px;
}