body {
    background-color: rgb(22, 21, 21);
    color: white;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body * {
    transition: 0.2s linear;
}

.blue {
    color: rgb(31, 19, 194) !important;
}

.error {
    color: rgb(31, 19, 194) !important;
}

.active-page {
    pointer-events: none;
}

@keyframes onload {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    margin: 0;
    padding: 0;
    position: relative;
    left: 22px;
}

.page-title:hover {
    cursor: pointer;
}

.menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 320px;
    right: 2%;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.menu a:hover {
    color: rgb(27, 16, 175);
}

.page-title .blue {
    padding-right: 1px;
}

/* Projects */

.introduction {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction h1 {
    font-size: 36px;
}

.showcase {
    width: 100vw;
    position: relative;
    top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: [first-c] auto [second-c] auto [third-c] auto;
    row-gap: 30px;
    column-gap: 50px;    
    grid-template-rows: [first-r] auto [second-r] auto [third-r] auto;    
    
}

.project {
    height: 500px;
    width: 330px;
    margin-bottom: 10px;
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Contact */

.contact-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    position: relative;
    top: 20px;
}

.contacts * {
    position: relative;
}

.contacts {
    width: 100%;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 25px;
}

.c {
    width: 160px;
    height: 56px;
}

#find {
    animation: find 0.8s ease-out;
}

@keyframes find {
    from {
        transform: translateY(-60%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

#c-github {
    right: 15%;
    animation: contact-from-right 0.7s ease-out 0.8s forwards;
    opacity: 0;
}

#c-fiverr {
    left: 15%;
    animation: contact-from-left 0.7s ease-out 1.5s forwards;
    opacity: 0;
}

#c-github2 {
    right: 15%;
    animation: contact-from-right 0.7s ease-out 2.2s forwards;
    opacity: 0;
}

@keyframes contact-from-right {
    from {
        transform: translateX(-40%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes contact-from-left {
    from {
        transform: translateX(40%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

#c-fiverr h1.bold {
    position: relative;
    left: 5%;
}

.c > a:hover {
    transform: scale(1.2) !important;
}

.c > a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
}

.c img {
    width: 54px;
    height: 54px;
    border-radius: 9px;
    padding: 1px;
    background-color: #fff;
}

.c h1.bold {
    font-size: 28px;
}

.c-email {
    position: relative;
    top: 50px;
    text-align: center;
    max-width: 400px;
    width: 75%;
    font-size: 21px;
    word-wrap: break-word;
    animation: email 1s ease-out 2.9s forwards;
    opacity: 0;
}

@keyframes email {
    from {
        transform: translateY(40%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.c-email a {
    position: relative;
    top: 10px;
    color: #fff;
}

/* Blog */

.bold {
    font-weight: bold;
}

.main-content {
    max-width: 560px;
    width: 83%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

.main-content * {
    transition: 0.5s ease;
}

#cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.520);
    transition: unset;
    opacity: 0;
    z-index: 1;
}

.blog-entry {
    width: 100%;
    min-height: 124.8px; 
}

.blog-inner {
    margin: 7px 2px;
    border-radius: 9px;
    border: 1px solid #2949c2;
    background-color: #232323;
    position: relative;
    padding: 5px 8px;  
    padding-bottom: 8px;
    width: 100%;
    height: inherit;
}

.blog-zoom-in {
    position: absolute;
    width: 100%;
    z-index: 1000;
    transform: scale(1.5);
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;
    top: 5px;
}

#textarea {
    min-height: 110px;
    width: 100%;
    font-size: 16px;
}

#submit-entry {
    border: unset;
    width: 100px;
    height: 25px;
    font-size: 18px;
    background-color: #e7e7e7;
    color: black;
    transition: 0.1s ease;
}

#submit-entry:hover {
    background-color: #c2c2c2;
}

#submit-entry:active {
    background-color: #aaaaaa;
}

.blog-date {
    position: absolute;
    right: 6px;
    top: 7px;
}

.blog-text {
    margin-top: 6px;
}

/* View blog */

.view-blog {
    width: 90vw;
    margin: 10px 20px;
    margin-top: 40px;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 9px;
    border: 1px solid #2949c2;
    font-size: 18px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: rgb(22, 21, 21);
}
    
::-webkit-scrollbar-thumb {
    background: #acacac;
}
    
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Responsiness media queries */

@media screen and (max-width: 1170px) {
    .showcase {
        grid-template-columns: [first-c] auto [second-c] auto;
        column-gap: 90px;
        row-gap: 40px;
    }
}

@media screen and (max-width: 795px) {
    .project {
        width: 300px;
    }

    .showcase {
        column-gap: 70px;
    }
}

@media screen and (max-width: 600px) {
    #header {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 140px;
    }

    #header * {
        right: 0;
        left: 0;
    }

    .showcase {
        grid-template-columns: [first-c] auto;
    }

    .project { 
        width: 330px;
    }

    .menu {
        max-width: 375px;
        width: 100%;
    }

    .menu a {
        font-size: 25px;
    }

    .page-title {
        font-size: 34px;
    }

    .blog-date {
        width: 160px;
        font-size: 16px;
        right: 9px;
        text-align: end;
    }

    .main-content {
        transform: translateX(-54%);
    }

    .contacts {
        min-height: 260px;
    }
}

@media screen and (max-width: 375px) {
    .project {
        width: 300px;
    }

    .menu a {
        font-size: 24px;
    }
}