/* Global */

body {
    background-color: rgb(22, 21, 21);
    color: white;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("./icons/fiverr.png") url("./icons/github.png") url('./icons/linkedin.png') url('./icons/mail.png');
}

body>* {
    transition: ease 1s;
}

* {
    margin: 0;
    padding: 0;
}

body * {
    transition: 0.2s linear;
}

.blue {
    color: rgb(31, 19, 194) !important;
}

.error {
    color: rgb(31, 19, 194) !important;
}

.active-page {
    pointer-events: none;
    border-bottom: 2px solid #1f13c2;
}

/* Header */

#header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    margin: 0;
    padding: 0;
    position: relative;
    left: 22px;
}

.page-title:hover {
    cursor: pointer;
}

.menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 240px;
    right: 2%;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.menu a:hover {
    color: rgb(27, 16, 175);
}

.page-title .blue {
    padding-right: 1px;
}

/* Contact sidebar */

.contact-sidebar {
    position: fixed;
    height: 250px;
    width: 60px;
    top: 80%;
    transform: translateY(-50%);
    left: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 9999999;
}

.contact-item {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    padding: 5%;
}

.contact-item a {
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.contact-item h1 {
    font-weight: 900;
}

.contact-item img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact-item:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
}

/* Home page */

.main-intro {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

[id^="main-block"] {
    display: flex;
    font-size: 30px;
    height: 25px;
    text-align: center;
    padding: 0px 10px;
}

#main-block3 {
    display: unset;
}

.typed-cursor {
    color: #2949c2;
}

.main-texts1 {
    width: 100%;
    text-align: center;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#scroller1 {
    position: relative;
    height: 110px;
    width: 150px;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
}

#scroller1 a {
    padding-top: 80px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

#scroller1 a h1 {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

#scroller1 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

#scroller1 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

#scroller1 a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

#scroller1 a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.main-slide1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
}

.main-story-wrapper {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-story {
    font-size: 26px;
    padding: 0 15px;
    text-align: center;
}

.main-languages {
    height: 200px;
    width: 45vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.language {
    width: 104px;
    height: 104px;
    background-color: #fff;
    padding: 0 10px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 9px;
    opacity: 0;
}

@keyframes language {
    from {
        transform: translateY(40%);
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

#l1 {
    background-image: url("./icons/nodejs.png");
    background-size: 70%;
}

#l2 {
    background-image: url("./icons/php.png");
    background-size: 90%;
}

#outro {
    opacity: 0;
    padding: 0 12px;
    text-align: center;
}

#outro a {
    color: white;
}

@keyframes outro {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Projects */

.introduction {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction h1 {
    font-size: 36px;
    animation: appear 0.8s ease;
}

.showcase {
    width: 100vw;
    position: relative;
    top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: [first-c] auto [second-c] auto [third-c] auto;
    row-gap: 30px;
    column-gap: 50px;
    grid-template-rows: [first-r] auto [second-r] auto [third-r] auto;
    animation: appear 0.8s ease;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.project {
    height: 500px;
    width: 330px;
    margin-bottom: 10px;
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.project>img {
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: contain;
}

.project-button {
    background-color: rgb(31, 19, 194);
    height: 45px;
    padding: 0px 20px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 0.3s ease;
}

.project-button:hover {
    background-color: rgb(26, 15, 170);
}

.project-button a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.repos {
    width: 100vw;
    min-height: 320px;
    display: flex;
    margin-top: 50px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.repo {
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: appear .8s ease;
}

.repos>.repo {
    border-bottom: 1px solid #fff;
}

.repos> :first-child {
    border-bottom: unset;
}

.repo-title {
    width: 20%;
    word-wrap: break-word;
}

.repo-title a {
    color: #fff;
    text-decoration: none;
}

.repo-title a:hover {
    color: rgb(180, 180, 180);
}

.repo-description {
    width: 60%;
    padding: 0 3%;
    text-align: center;
    border-right: 0.5px solid white;
    border-left: 0.5px solid white;
}

.repo-stars {
    width: 2%;
    text-align: center;
}

.introduction h1 {
    text-align: center;
}

.introduction a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #1f13c2;
    transition: 0.5s ease;
    padding: 0 5px;
    box-shadow: 0px 0px #232323;
}

.introduction a:hover {
    border-radius: 5px;
    color: #1f13c2;
    box-shadow: 8px 8px #1f13c2;
    background-color: #fff;
}

.introduction-animated {
    border-radius: 5px;
    color: #1f13c2 !important;
    box-shadow: 8px 8px #1f13c2 !important;
    background-color: #fff !important;
}

.projects-introduction {
    width: 75vw;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3em 0;
}

.project-showcase {
    margin: 2em auto;
    line-height: 30px;
    border: 3px solid #1f13c2;
    padding: 0.5em 1em;
    background: transparent;
    transition: all 0.5s ease;
    background: linear-gradient(to left, transparent 50%, #1f13c2 50%);
    background-position: right;
    background-size: 220%;
    transition: .5s ease;
    text-align: center;
}

.project-showcase:nth-of-type(2n) {
    background: linear-gradient(to right, transparent 50%, #1f13c2 50%);
    background-position: left;
    background-size: 220%;
}

.project-showcase:hover {
    background-position: left;
    border: 3px solid #180f96;
}

.project-showcase:nth-of-type(2n):hover {
    background-position: right;
}

.project-showcase h1 a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1100px) {
    .repo {
        width: 80%;
    }

    .repo-stars {
        width: initial;
    }
}

@media screen and (max-width: 550px) {
    .repo {
        font-size: 18px;
    }
}

/* Blog */

.bold {
    font-weight: bold;
}

.blog-intro {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-intro>h1 {
    padding: 0px 30px;
    font-size: 25px;
    text-align: center;
}

.main-content {
    width: 100%;
    transform: unset !important;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 350px;
}

.main-content * {
    transition: 0.5s ease;
}

#cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.520);
    transition: unset;
    opacity: 0;
    z-index: 1;
}

.blog-entry {
    width: 50%;
    min-height: 124.8px;
}

.blog-inner {
    border-radius: 9px;
    border: 1px solid #2949c2;
    background-color: #232323;
    position: relative;
    padding: 5px 5px;
    right: 4px;
    width: 100%;
    height: inherit;
}

.blog-zoom-in {
    position: absolute;
    width: 100%;
    z-index: 1000;
    transform: scale(1.5);
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    width: 100%;
}

#textarea {
    min-height: 110px;
    width: 100%;
    font-size: 16px;
}

#submit-entry {
    border: unset;
    width: 100px;
    height: 25px;
    font-size: 18px;
    background-color: #e7e7e7;
    color: black;
    transition: 0.1s ease;
}

#submit-entry:hover {
    background-color: #c2c2c2;
}

#submit-entry:active {
    background-color: #aaaaaa;
}

.blog-date {
    position: absolute;
    right: 6px;
    top: 7px;
}

.blog-text {
    margin-top: 6px;
    margin-left: 2px;
}

.blog-inner .bold {
    margin-left: 3px;
}

/* View blog */

.view-blog {
    width: 90vw;
    margin: 10px 20px;
    margin-top: 40px;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 9px;
    border: 1px solid #2949c2;
    font-size: 18px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(22, 21, 21);
}

::-webkit-scrollbar-thumb {
    background: #acacac;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Footer */

footer {
    display: none;
}

/* Responsiness media queries */

@media screen and (max-width: 1170px) {
    .showcase {
        grid-template-columns: [first-c] auto [second-c] auto;
        column-gap: 90px;
        row-gap: 40px;
    }

    .blog-entry {
        width: 70%;
    }
}

@media screen and (max-width: 795px) {
    .project {
        width: 300px;
    }

    .showcase {
        column-gap: 70px;
    }
}

@media screen and (max-width: 600px) {
    #header {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 140px;
    }

    #header * {
        right: 0;
        left: 0;
    }

    .showcase {
        grid-template-columns: [first-c] auto;
    }

    .project {
        width: 330px;
    }

    .menu {
        max-width: 335px;
        width: 100%;
    }

    .menu a {
        font-size: 25px;
    }

    .page-title {
        font-size: 34px;
    }

    .blog-date {
        width: 160px;
        font-size: 16px;
        right: 9px;
        text-align: end;
    }

    .contacts {
        min-height: 260px;
    }

    #find {
        font-size: 27px;
    }

    .c-email a {
        font-size: 17px;
    }

    .main-languages {
        width: 100vw;
    }

    .contact-sidebar {
        height: 180px;
        width: 40px;
        top: 70%;
        display: none;
    }

    .contact-item {
        width: 34px;
        height: 34px;
    }

    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 3em;
        margin: 15vh 0 4vh 0;
    }

    footer .contact-item {
        padding: 9px;
        width: 38px;
        height: 38px;
        border-radius: 30px;
        margin: 0px 9px;
    }

    .blog-entry {
        width: 90%;
    }

    .introduction {
        width: 90vw;
        margin: auto;
    }

    .introduction h1 {
        font-size: 36px;
        line-height: 55px;
    }

    .projects-introduction {
        grid-template-columns: 1fr;
    }

    .project-showcase {
        max-width: 160px;
        width: 90vw;
    }
}

@media screen and (max-width: 395px) {
    .introduction h1 {
        padding: 0 20px;
        width: 95vw;
        font-size: 30px;
    }

    .introduction {
        height: unset;
    }

}

@media screen and (max-width: 375px) {
    .project {
        width: 300px;
    }

    .menu a {
        font-size: 24px;
    }
}